
.hrTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  .hrTable th,
  .hrTable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .hrTable th {
    background-color: #f3f3f3;
  }
  


